.container__title {
	text-align: left;
	padding-left: 2rem;
	font-weight: 700;
	font-size: 18px;
}

.set__cards {
	display: flex;
	flex-wrap: wrap;
}

.set__card {
	text-align: center;
	margin: 2rem;
	padding: 2rem;
	cursor: pointer;
	border-radius: 5px;
	transition: all 300ms ease-in-out;
}

.set__card > p {
	width: 30px;
	height: 30px;
	margin-block-start: 0;
	margin-block-end: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.set__card:hover {
	box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.25);
}
